@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 100;
}

.hoverable {
    position: static;
}



.hoverable:hover .mega-menu {
    display: block;
}
