@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.mega-menu {
    display: none;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 100;
}

.hoverable:hover .mega-menu {
    display: block;
}

.ck-editor__editable_inline {
    min-height: 500px;
}
